.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 290px;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-site-accent;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: background-color $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    background-color: $color-site-accent-action;
  }

  @include vp-1023 {
    max-width: 260px;
  }
}
