.hero {
  min-height: 410px;
  margin: 0;
  padding: 64px 0;

  background-color: $color-hero-bg;
  background-image: url("../img/content/cams.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;

  @include vp-1023 {
    min-height: 400px;
    padding: 80px 0;
    background-position: right -316px top;

    background-size: auto 100%;
  }

  @include vp-767 {
    padding: 60px 0;

    background-position: right -396px top;
  }

  @include vp-479 {
    min-height: 320px;
    padding: 40px 0;

    background-position: right -320px top;
  }
}

.hero__title {
  max-width: 720px;
  margin: 0;

  font-weight: 600;
  font-size: 50px;
  line-height: 1.3;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  @include vp-1023 {
    max-width: 580px;

    font-size: 40px;
    line-height: 1.25;
  }

  @include vp-479 {
    font-size: 32px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
