mixin header(headerMods, currentUrl)
  - const logo = ["content", "logo", "svg", "199", "43"]

  header.header(class=headerMods)
    .header__inner
      .container.header__container
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +img(...logo).header__logo-img
        +main-nav().header__nav
        +link({ href: "#" }).header__user-profile
          +icon("user", 23, 22)
        button.header__menu-toggle(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          span.header__menu-toggle-bar.header__menu-toggle-bar--top
          span.header__menu-toggle-bar.header__menu-toggle-bar--middle
          span.header__menu-toggle-bar.header__menu-toggle-bar--bottom
