/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 6 versions,not dead,not op_mini all,Safari >= 15.4,Firefox ESR
*/

:root {
  --color-dark-grey: #272a33;
  --color-grey: #d5dfe9;
  --color-light-grey: #dedede;
  --color-extra-light: #eef3f8;
  --color-white: #ffffff;
  --color-orange: #ee753e;
  --color-green: #4fcf36;

  --color-transparent: rgba(255, 255, 255, 0);

  --color-txt-primary: var(--color-dark-grey);
  --color-bg-primary: var(--color-white);
  --color-bg-secondary: var(--color-extra-light);
  --color-accent: var(--color-orange);

  --color-success: var(--color-green);
  --color-warning: var(--color-accent);

  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: "Roboto", sans-serif;

  --transition-default-time: 0.3s;
  --transition-default-function: ease;
  --transition-default: var(--transition-default-time)
    var(--transition-default-function);
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";
  font-display: swap;
  src: url(../fonts/open-sans-400.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Open Sans";
  font-display: swap;
  src: url(../fonts/open-sans-700.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  font-display: swap;
  src: url(../fonts/roboto-400.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";
  font-display: swap;
  src: url(../fonts/roboto-700.woff2) format("woff2");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-block-size: 100dvh;

  font-size: 100%;
}

html {
  --header-height: 78px;
  font-style: normal;
  font-weight: 400;
  font-family: var(--ff-primary);
  font-size: 100%;
  line-height: 1.5;
  color: var(--color-txt-primary);

  background-color: var(--color-bg-primary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* оптимизация выравнивания шрифта относительно центра строки */
  text-rendering: optimizelegibility;

  /* если по прежнему есть проблемы с выравниванием
  https://transfonter.org/ - включите настройку https://prnt.sc/12rnt6g и переконвертируйте шрифт */
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  min-inline-size: 360px;
  block-size: 100%;
}

main {
  flex-grow: 1;
  inline-size: 100%;
  min-inline-size: 100%;
}

main > section {
  margin-block: 80px;
}

body:not(:has(.footer)) main > section:last-child {
  -webkit-margin-after: 50px;
  margin-block-end: 50px;
}

a {
  text-decoration: none;
  color: inherit;

  transition: color var(--transition-default);
}

a:hover,
a:focus-visible {
  color: var(--color-accent);
}

img,
video {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

textarea {
  resize: none;
}

/* chrome autofill background removal
если на проекте у инпутов используются разные цвета фонов\текста -
удалите это из глобала и используйте локально с нужными цветами
rgba не подойдет, сконвертируйте цвет в hex без прозрачности
если в стилях уже используется box-shadow есть другое решение -
задать к списку транзишенов `background-color 10000000s ease-out` */
input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px var(--color-white);
  -webkit-text-fill-color: var(--color-black);
}

/* firefox placeholder \ invalid fix + ios bdrs */
input,
textarea {
  border-radius: 0;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
}

input:invalid,
textarea:invalid {
  box-shadow: none;
}

select {
  border-radius: 0;
}

/* chrome search X removal */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

/* без этого на Samsung в хроме есть стрелка, и она прилипает к правому краю */
input[type="date"],
input[type="month"],
input[type="time"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* ios button \ inputs reset */
select,
textarea,
input:matches(
  [type="email"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  [type="url"]
) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.scroll-lock {
  overflow: hidden;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.check-icon {
  display: inline-block;
  block-size: 24px;
  inline-size: 24px;

  color: var(--color-success);
}

.check-icon--warning {
  color: var(--color-warning);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  inline-size: -webkit-fit-content;

  inline-size: -moz-fit-content;

  inline-size: fit-content;
  -webkit-padding-before: 7px;
  padding-block-start: 7px;
  -webkit-padding-after: 11px;
  padding-block-end: 11px;
  padding-inline: 29px;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.45;
  color: var(--color-white);

  background-color: var(--color-dark-grey);
  border: 1px solid var(--color-dark-grey);
  border-radius: 8px;

  cursor: pointer;
  transition:
    color var(--transition-default),
    background-color var(--transition-default),
    border-color var(--transition-default);
}

.btn:hover,
.btn:focus-visible {
  color: var(--color-white);

  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn:disabled,
.btn.disabled {
  pointer-events: none;

  color: var(--color-white);

  background-color: var(--color-light-grey);
  border: var(--color-light-grey);
}

.btn--lg {
  font-size: 18px;
  line-height: 1.45;
}

.section-title {
  margin: 0;

  font-family: var(--ff-secondary);
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

.section-title:not(:last-child) {
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
}

.container {
  inline-size: 360px;
  margin-inline: auto;
  padding-inline: 10px;
}

.page--flexible .container {
  max-inline-size: 1600px;
  inline-size: unset;
}

.header {
  padding-block: 16px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px 80px;
}

.logo {
  flex-shrink: 0;
  display: block;
}

.logo__img {
  display: block;
  inline-size: 185px;
  block-size: auto;
}

.main-nav__overlay {
  position: absolute;
  inset-block-start: var(--header-height);
  inset-inline: 0;
  z-index: 10;
  block-size: 100dvh;

  background-color: rgba(0, 0, 0, 0.7);

  visibility: hidden;
  opacity: 0;

  transition:
    opacity var(--transition-default),
    visibility var(--transition-default);
}

.is-opened .main-nav__overlay {
  visibility: visible;
  opacity: 1;
}

.main-nav__menu {
  position: absolute;
  inset-block-start: var(--header-height);
  inset-inline: 0;
  block-size: 100dvh;
  z-index: 11;

  visibility: hidden;

  overflow: hidden;

  transition: visibility var(--transition-default);
}

.is-opened .main-nav__menu {
  visibility: visible;
}

.main-nav__menu-inner {
  max-block-size: calc(100dvh - var(--header-height));
  -webkit-padding-before: 10px;
  padding-block-start: 10px;
  transform: translateY(-100%);

  text-transform: uppercase;

  background-color: var(--color-white);
  border-top: 1px solid var(--color-grey);

  transition: transform var(--transition-default);

  overflow-y: auto;
}

.is-opened .main-nav__menu-inner {
  transform: translateY(0);
}

.main-nav__list {
  inline-size: 360px;
  margin: 0;
  margin-inline: auto;
  padding: 0;
  padding-inline: 10px;

  list-style-type: none;
}

.page--flexible .main-nav__list {
  max-inline-size: 1600px;
  inline-size: unset;
}

.main-nav__item {
  border-bottom: 1px solid var(--color-grey);
}

.main-nav__link {
  display: block;
  padding-block: 20px;
}

.main-nav__toggle {
  position: relative;
  display: block;
  inline-size: 46px;
  block-size: 46px;
  padding: 0;

  background-color: var(--color-transparent);
  border: 1px solid var(--color-txt-primary);
  border-radius: 8px;

  transition: border-color var(--transition-default);

  cursor: pointer;
}

.main-nav__toggle:hover,
.main-nav__toggle:focus-visible {
  border-color: var(--color-accent);
}

.main-nav__toggle-bar {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);

  block-size: 2px;
  inline-size: 24px;

  background-color: var(--color-txt-primary);
  border-radius: 24px;

  transition:
    background-color var(--transition-default),
    transform var(--transition-default),
    opacity var(--transition-default);

  cursor: pointer;
}

.main-nav__toggle:hover .main-nav__toggle-bar,
.main-nav__toggle:focus-visible .main-nav__toggle-bar {
  background-color: var(--color-accent);
}

.main-nav__toggle-bar--top {
  transform: translate(-50%, calc(-50% - 8px));
}

.main-nav__toggle-bar--bottom {
  transform: translate(-50%, calc(-50% + 8px));
}

.is-opened .main-nav__toggle-bar--top {
  transform: translate(-50%, -50%) rotate(45deg);
}

.is-opened .main-nav__toggle-bar--middle {
  opacity: 0;
}

.is-opened .main-nav__toggle-bar--bottom {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.products__list:not(:last-child) {
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
}

.products__catalog-btn {
  margin-inline: auto;
}

.products__catalog-btn :not(:last-child) {
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
}

.products__item {
  border: 1px solid var(--color-light-grey);
  border-radius: 8px;
}

.product-card {
  display: flex;
  flex-direction: column;
  block-size: 100%;
  border-radius: 8px;
}

.product-card__cover {
  flex-shrink: 0;
  display: block;
  -webkit-margin-before: -1px;
  margin-block-start: -1px;
  margin-inline: -1px;

  background-color: var(--color-extra-light);
  border-radius: 8px;

  overflow: hidden;
}

.product-card__cover-img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.product-card__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.product-card__title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.product-card__title:not(:last-child) {
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
}

.product-card__availability {
  display: flex;
  gap: 10px;
  margin: 0;
  -webkit-margin-before: auto;
  margin-block-start: auto;

  font-size: 14px;
  line-height: 1.45;
}

.product-card__availability:not(:last-child) {
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
}

.product-card__availability-icon {
  align-self: flex-start;
  flex-shrink: 0;
  margin-block: 3px;
  block-size: 14px;
  inline-size: 14px;
}

.product-card__btn {
  inline-size: 100%;
}

.product-card__btn:not(:last-child) {
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
}

.about__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: start;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about__gallery:not(:last-child) {
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
}

.about__gallery-item {
  inline-size: 100%;
  aspect-ratio: 336 / 176;
  border-radius: 8px;

  overflow: hidden;
}

.about__gallery-item--wide {
  grid-column: 1 / -1;
  aspect-ratio: 768 / 220;
}

.about__gallery-img {
  block-size: 100%;
  inline-size: 100%;

  object-fit: cover;
}

.about__content > *:first-child {
  -webkit-margin-before: 0;
  margin-block-start: 0;
}

.about__content > *:last-child {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

.about__content p {
  margin-block: 20px;
}

.about__content ul {
  margin-block: 20px;
  padding: 0;

  list-style-type: none;
}

.about__content li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.about__content li:not(:last-child) {
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
}

.about__content li svg {
  flex-shrink: 0;
}

.about__btn {
  margin-block: 20px;
}

@media (min-width: 390px) {
  .container {
    inline-size: 390px;
    padding-inline: 15px;
  }

  .main-nav__list {
    inline-size: 390px;
    padding-inline: 15px;
  }
}

@media (min-width: 414px) {
  .container {
    inline-size: 400px;
    padding-inline: 20px;
  }

  .main-nav__list {
    inline-size: 400px;
    padding-inline: 20px;
  }
}

@media (min-width: 768px) {
  .btn {
    font-size: 18px;
    line-height: 1.45;
  }

  .btn--lg {
    font-size: 18px;
    line-height: 1.45;
  }

  .section-title:not(:last-child) {
    -webkit-margin-after: 30px;
    margin-block-end: 30px;
  }

  .container {
    inline-size: 636px;
    padding-inline: 30px;
  }

  .header {
    padding-block: 15px;
  }

  .logo__img {
    display: block;
    width: 180px;
  }

  .main-nav__list {
    inline-size: 636px;
    padding-inline: 30px;
  }

  .main-nav__menu-inner {
    -webkit-padding-after: 50px;
    padding-block-end: 50px;
  }

  .main-nav__toggle {
    block-size: 50px;
    inline-size: 50px;
  }

  .products__list {
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
    gap: 30px;
  }

  .products__list:not(:last-child) {
    -webkit-margin-after: 30px;
    margin-block-end: 30px;
  }

  .product-card {
    flex-direction: row;
  }

  .product-card__cover {
    block-size: calc(100% + 2px);
    inline-size: 220px;
    margin-block: -1px;
    -webkit-margin-start: -1px;
    margin-inline-start: -1px;
  }

  .product-card__content {
    max-inline-size: 400px;
    padding: 30px;
  }

  .product-card__title {
    font-size: 18px;
    line-height: 1.2;
  }

  .product-card__availability-icon {
    align-self: flex-start;
    flex-shrink: 0;
    margin-block: 3px;
    block-size: 14px;
    inline-size: 14px;
  }

  .product-card__btn {
    inline-size: -webkit-fit-content;
    inline-size: -moz-fit-content;
    inline-size: fit-content;
  }

  .about__gallery {
    gap: 24px;
  }

  .about__gallery:not(:last-child) {
    -webkit-margin-after: 30px;
    margin-block-end: 30px;
  }

  .about__btn {
    margin-block: 30px;
  }
}

@media (min-width: 1024px) {
  .section-title {
    font-size: 30px;
    line-height: 1.35;
  }

  .container {
    inline-size: 848px;
    padding-inline: 40px;
  }

  .main-nav__list {
    inline-size: 848px;
    padding-inline: 40px;
  }
}

@media (min-width: 1280px) {
  .section-title {
    font-size: 36px;
  }

  .header {
    padding-block: 20px;
  }

  .container {
    inline-size: 1280px;
    padding-inline: 60px;
  }

  .main-nav__overlay {
    display: none;
  }

  .main-nav__menu {
    position: static;
    block-size: unset;

    visibility: visible;
  }

  .main-nav__menu-inner {
    transform: none;
    max-block-size: unset;
    padding-block: 0;

    background-color: var(--color-transparent);
    border-top: none;

    transition: none;

    overflow-y: unset;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    inline-size: unset;
    margin-inline: 0;
    padding-inline: 0;
  }

  .main-nav__item {
    border-bottom: none;
  }

  .main-nav__link {
    display: inline;
    padding-block: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (min-width: 1600px) {
  .container {
    inline-size: 1600px;
    padding-inline: 80px;
  }
}
